<div class="footer-bg">
    <footer>
        <div class="footer product-color" data-ga-area="footer">
            <div class="row">
                <div class="column columns container" data-ga-marker="links">
                    <ul class="first-line">
                        <li><a class="logo" href="//www.globo.com/" title="globo.com"><strong>globo.com</strong></a></li>
                        <li><a href="//g1.globo.com/">g1</a></li><li><a href="//globoesporte.globo.com/">globoesporte</a></li>
                        <li><a href="//gshow.globo.com/">gshow</a></li><li><a href="//famosos.globo.com//">famosos &amp; etc</a></li>
                        <li><a href="//globotv.globo.com/">vídeos</a></li><li><a href="//www.globo.com/todos-os-sites.html">todos os sites</a></li>
                        <li class="pushed"><span>gshow realities</span></li>
                    </ul>
                    <span class="copyright">© Copyright 2000-2016 Globo Comunicação e Participações S.A.</span>
                    <ul class="footer-menu">
                        <li><a href="//www.globo.com/privacidade.html">política de privacidade</a></li>
                        <li><a href="//meuperfil.globo.com">central globo.com</a></li>
                        <li><a href="//assine.globo.com/">assine a globo.com</a></li>
                        <li class="last"><a href="//anuncie.globo.com/mediakit/globocom.html">anuncie conosco</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
